{% extends 'main_skeleton.html' %}
<!-- Page Heading -->
{% block content %}
{% include('layouts/header.html')%}
<div class="container-xl px-4 mt-n10 mb-4">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Bar Deposits This Month</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ '{:,.0f}/='.format(statistics.this_month_bar_deposits) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-info">
                <div class="card-body">
                    <div class="small text-muted">Chips Deposits This Month</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ '{:,.0f}/='.format(statistics.this_month_chips_deposits) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Total Deposits</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ '{:,.0f}/='.format(statistics.this_month_deposits) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Highest Sale Made</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ '{:,.0f}/='.format(statistics.highest_sale_made) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-purple">
                <div class="card-body">
                    <div class="small text-muted">Highest Sale Day</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ statistics.highest_sale_day }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-purple">
                <div class="card-body">
                    <div class="small text-muted">Lowest Sale Day</div>
                    <div class="h3"></div>
                    <a class="text-arrow-icon small" href="">
                        {{ statistics.lowest_sale_day }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}