{% extends 'main_skeleton.html' %}
<!-- Page Heading -->
{% block content %}
    {% include('layouts/header.html')%}

    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">{{active_page}}</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container mt-3">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Deposited Amount</th>
                        <th>Deposit Reason</th>
                        <th>Date Of Deposit</th>
                        <th>Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for deposit in deposits %}
                        <tr>
                            <td>{{ deposit.amount }}</td>
                            <td>{{ deposit.deposit_from.value }}</td>
                            <td>{{ deposit.date_of_deposit }}</td>
                            <td>{{ deposit.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addDeposit">Add Deposit</button>
    </div>
    {% include 'pages/stalk/modals/add_deposit.html' %}
{% endblock %}